<div class="accountmenu-container clearfix">
  <p class="appname-text"><a href="/">Sails-Auth</a></p>
  <a class="btn-signin" href="/auth/login">Sign In</a>
</div>

<div class="container">
  <div class="row"></div>
    <div class="col-md-12">

      <a class="twitter-share" href="<%= twitterShareMessage %>">Share on Twitter</a>
      <a class="fb-share" href="<%= facebookShareMessage %>">Share on Facebook</a>

      <p class="share-text"><b>Build an awesome app and share it with us!</b></p>

      <div class="config-text">
        <p><b>Sais-Auth-Template</b> configuration status:</p>
        <p>- Email auth: <%= localAuthMsg %><br>
           - Facebook auth: <%= twitterAuthMsg %><br>
           - Twitter auth: <%= facebookAuthMsg %></p>
      </div>

      <img class="sails-js-image" src="/images/sails-js.png">

    </div>
  </div>
</div>

<img class="grass-image" src="/images/grass.png">
